body,html,.bgdiv {
  margin: 0;
  background-color: rgb(33, 37, 41);
  color: white;

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#carousel {
  max-height: 700px;
}
